* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

header {
    margin-bottom: 20px;
}

.header-content {
    display: flex;
    align-items: center;
}

.profile-image {
    margin-right: 20px;
}

.blue-button {
    background-color: blue;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.blue-button:hover {
    background-color: darkblue;
}

.profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #16a085;
}

.header-text h1 {
    font-size: 2.5em;
    color: #2c3e50;
}

.header-text p {
    font-size: 1.2em;
    color: #16a085;
}

.contact-info {
    margin-top: 10px;
    font-size: 0.9em;
    color: #7f8c8d;
}

h2 {
    font-size: 1.8em;
    color: #2c3e50;
    border-bottom: 2px solid #16a085;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

.job {
    margin-bottom: 20px;
}

.job h3 {
    font-size: 1.4em;
    color: #2980b9;
}

.job p {
    font-size: 0.9em;
    color: #7f8c8d;
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
}

.skills ul li {
    background-color: #ecf0f1;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 0.9em;
}
